## Golang Utilware 离线开发工具包

#### 名称灵感来着Aimware, Aimware永远的空枪废物.....

---


> 坚持纯Go拒绝CGO!


##### Utilware 无任何外部依赖, 真正的ALL IN ONE, 用于离线开发以及闭关开发, 基本的工具都包含了.....


##### 收集开源项目并去除CGO以及自己实现, 减少依赖后打包....依赖项目统一在 [dep]


---


#### Go Mod ( 使用方式) :



```bash
git clone https://github.com/ClarkQAQ/utilware

go mod edit replace utilware => /xxx/utilware
```



```go
package main

import "utilware/tig"

func main() {
    logger.Info("hello world!")
	tig.New().Run(":8080")
}

```



#### 索引:


{{range .}}

- `{{.Name}}` [v{{.Version}}] {{.Description}} [源链接]({{.URL}})

{{end}}